
/* montserrat-regular - latin_cyrillic */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
 }
 /* montserrat-600 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
 }
 /* montserrat-700 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
 }
 /* montserrat-800 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   src: local(''),
        url('../fonts/montserrat-v18-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
 }
 * {
    box-sizing: border-box;
 }
body {
   font-family: 'Montserrat', sans-serif;
   color: #333333;
}

.container {
   max-width: 1770px;
   margin: 0 auto;
   padding-left: 10px;
   padding-right: 10px;
}
.header {
   height: 100px;
   background-color: #fff;
}
.header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.menu {
   display: flex;
}

.menu__item {
   list-style-type: none;
}

.menu__item:not(:last-child) {
   margin-right: 85px;
}

.menu__link {
   color: #333;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   display: block;
 
}

.menu__item:not(:last-child):hover {
   border-bottom: 2px solid #FF9900;
}

.slider {
   position: relative;
   background-image: url(/images/slide_1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 620px;
   display: flex;
   align-items: center;
   color: #fff;
}
.sllider__nav {
   display: flex;
   position: absolute;
   bottom: 0;
   left: 50%;
   margin-bottom:30px;
}
.slider__circle {
   background-color: rgba(255, 255, 255, 0.4);
   width: 15px;
   height: 15px;
   border-radius: 50%;
   margin-right: 20px;
}
.slider__circle-active {
   background-color: #fff;
}
.hero {
   margin-bottom: 100px;
}
.hero__content {
   margin-left: 80px;
   max-width: 840px;
}
.hero__title {
   margin: 0;
   font-weight: 800;
   font-size: 70px;
   margin-bottom: 25px;
}
.hero__subtitle {
   margin: 0;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 90px;
}
.hero__btn {
   background-color: #FF9900;
   text-decoration: none;
   color: #fff;
   padding: 25px 35px;
   font-size: 24px;
   font-weight: 700;
   display: inline-block;
}
.hero__btn:hover {
   background-color: rgba(255, 153, 0, 0.7);
}
.section__title {
   margin: 0;
   padding: 0;
   font-size: 48px;
   font-weight: 400;
}
.about {
   margin-bottom: 120px;
}
.about__descr {
   margin-top: 20px;
   margin-bottom: 50px;
   font-size: 16px;
   line-height: 2;
   max-width: 1235px;
}
.about__blocks {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat (2,1fr );
   grid-gap: 20px; 
}
.about__image {
 grid-row: 1/3;
 position: relative;
}
.about__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about__block {
 display: flex;
 align-items: center;
 border: 1px solid #CACACA;
 padding: 65px 60px;
 font-size: 16px;
}
.about__overlay {
   background-color: hsla(0, 0%, 0%, 0.5);
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   color: #fff;
   padding: 50px;
}
.overlay__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.overlay__text {
   max-width: 454px;
   line-height: 2;
   font-weight: 600;
}
.btn {
   background-color: transparent;
   border: 3px solid #FF9900;
   text-decoration: none;
   color: #fff;
   padding: 20px 35px;
   font-size: 16px;
   font-weight: 700;
   display: inline-block;
}
.btn:hover {
   background-color: #FF9900;
}

.block_content {
   margin-left: 50px; 
  line-height: 2;
}

.work__tabs {
   list-style-type: none;
   display: flex;
   padding: 0;
   margin-top: 50px;
   margin-bottom: 45px;
}
.tabs__item {
   cursor: pointer;
   font-size: 18px;
   font-weight: 400;
}

.tabs__item:hover {
color: #FF9900;
}

.tabs__item_active {
   color: #E1670E;
}

.tabs__item:not(:last-child) {
   margin-right: 85px;
}

.work {
   margin-bottom: 80px;
}

.work__content{
   display: flex;
}

.work__column {
   display: flex;
   width: 50%;
   flex-direction: column;
   justify-content: space-between;
 
}
.work__title {
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-weight: 600;
}

.work__text {
   margin-right: 140px;
   font-size: 16px;
   line-height: 32px;
}

.work__column img {
   max-width: 100%;
}
.btn__more {
background-color: #FF9900;
margin-right: 32px;
border: none;
}
.btn__more:hover {
   background-color: #F7B045;
   border: none;
}
.btn__contract {
   color: #333  ;
   border: 1px solid #333;
   font-weight: 400;
}
.btn__contract:hover {
   background-color: #666;
   border: 1px solid #666;
   color: #fff;
}
.faq {
   margin-bottom: 80px;
}

.faq__items {
   list-style-type: none;  
   margin: 0;
   padding: 0;
   margin-top: 40px;
}

.faq__item {
   border-top: 1px solid #CACACA;
   border-bottom: 1px solid #CACACA;
   padding: 30px 0;
   font-size: 24px;
   font-weight: 700;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}
.faq__item:not(:first-child){
   border-top: none;
}
.faq__item:hover {
   color: #FF9900;
   border-bottom: 1px solid #FF9900;
   border-top: 1px solid #FF9900;
}
.faq__item:hover svg ellipse {
   fill: #E1670E;
}
.faq__item:hover svg path {
   fill: #fff;
}

.footer {
   background-color: #222;
   color: #CACACA;
   padding-top: 50px;
   padding-bottom: 50px;
}
.footer__container {
   display: flex;
   justify-content: space-between;
}
.footer__column {
   width: 33.33%;
}
.footer__logo {
   margin-bottom: 20px;
}
.footer__menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.footer__menu_link {
   text-decoration: none;
   color: #CACACA;
   display: block;
   padding-top: 5px;
   padding-bottom: 5px;

}
.footer__social_icons {
   display: flex;

}
.icon__fb {
   background: url(/images/fb.svg) no-repeat center;
   width: 60px;
   height: 60px;
   margin-right: 25px;
}
.icon__vk {
   background: url(/images/vk.svg) no-repeat center;
   width: 60px;
   height: 60px;
   margin-right: 25px;
}
.icon__inst {
   background: url(/images/insta.svg) no-repeat center;
   width: 60px;
   height: 60px;
}

.footer__form {
   display: flex;
   flex-direction: column;
}

.footer__descr {
   margin-left: auto;
   max-width: 370px;
}

input, textarea {
   background-color: #414141;  
   padding: 14px 24px;
   border: none;
   margin-bottom: 25px;
   resize: none;
}
.form__btn__group {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.btn__form {
background-color: #FF9900;
padding: 20px 50px;
color: #fff;
font-weight: 600;
font-size: 16px;
border: none;
}
input [type="checkbox"] {
   margin: 0;
   padding: 0;
}